:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-400);

  background-color: var(--background-color);
  color: var(--text-color)
}

button,
input,
label {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}